.hello {
	text-align: center;
	background-color: #ebced0;
}
.main-headings {
	text-align: center;
	position: absolute;
	top: 20%;
	font-family: 'Anton', sans-serif;
}
.heading-name1 {
	font-family: 'Sacramento';
	color: #679b9b;
}
.heading-name2 {
	font-family: 'Montserrat';
	font-size: 1.5vw;
	color: #303960;
}
.text-center {
	font-size: 4vw;
}
body,
html {
	height: 100%;
}

.bg {
	position: fixed;
	bottom: 0px;
}
